/*!
Theme Name: Aurélio de Moraes Profile
Theme URI: http://aumoraes.com
Author: Aurélio de Moraes
Author URI: http://aumoraes.com
Description: A simple theme for static profissional profile that show experiences and infomations.
Version: 1.0
Tags: profile, aurelio, theme
Text Domain: profile
Use it to make something cool, have fun, and share what you've learned with others.
 */



@import "partials/variables";
@import "partials/general";
@import "modules/header";
@import "modules/footer";
@import "modules/home";
@import "modules/menu";
@import "responsible/mobile";



body{
	background-attachment: fixed;
	background-color: $body-bakground;
	background-position: 50% 0;
	background-repeat: no-repeat;
	padding: 0;
	background-size: cover;
	font-family: $font-family !important;
}

h1{
	font-weight: bolder;
	margin-top: 68px;
}
h2{
	font-weight: lighter;
	margin-top: 5px;
	margin-bottom: -5px;
}

p{
	font-size: 17px;
}
