@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ji39x6');
  src:  url('fonts/icomoon.eot?ji39x6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ji39x6') format('truetype'),
    url('fonts/icomoon.woff?ji39x6') format('woff'),
    url('fonts/icomoon.svg?ji39x6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hackerrank:before {
  content: "\e900";
  color: #2ec866;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
