@import "../partials/variables";

.container-fluid.header{
	color: $color-grey-light;
	text-align: center;
	padding: 0;
	margin: 0;
	.row{
		margin: 0;
		.name{
			font-weight: bolder !important;
			margin-top: 68px !important;
		}
		.description{
			font-weight: lighter !important;
			margin-top: 5px !important;
			margin-bottom: -5px !important;
		}
		.name, .description{
			color: #e7e7e7 !important;
		}
	}
	.row.header_image{
		position: absolute;
		width: 100%;
		height: 427px;
		margin-top: 50px;
		overflow: hidden;
		z-index: -1;
	}
}

.header-photo{
	margin: auto;
	float: none;
	margin-top: 50px;
	figure {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		padding: 12px;
		background-color: rgba(255,255,255,0.8);
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		img {
			-webkit-border-radius: inherit;
			-moz-border-radius: inherit;
			border-radius: inherit;
			width: 100%;
		}
	}
}
